<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="ROBO_CACHE_NAME" value="" />
    <add key="ROBO_CACHE_PASS" value="" />
    <add key="UPDATE_SOURCE" value="" />
    <add key="FILE_SIZE_LIMIT" value="16384" />
    <add key="FILE_BLOCK_SIZE" value="256" />
    <add key="PENDING" value="20000" />
    <add key="STATUS" value="20000" />
    <add key="LIFETIME" value="60000" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="lib" />
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.6.10.0" newVersion="2.6.10.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.6.10.0" newVersion="2.6.10.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.29.0" newVersion="2.2.29.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
